{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/jsx-no-bind": 0,
    "jsx-quotes": [2,  "prefer-single"],
    "comma-dangle": 0,
    "no-use-before-define": 0,
    "consistent-return": 0,
    "max-len": [1, 120]
  },
  "plugins": [
    "react"
  ]
}
