{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [0],
    "max-len": [1, 120],
    "object-curly-newline": ["error", {
      "ObjectExpression": { "minProperties": 12, "multiline": true, "consistent": true },
      "ObjectPattern": { "minProperties": 12, "multiline": true, "consistent": true },
      "ImportDeclaration": { "minProperties": 12, "multiline": true, "consistent": true },
      "ExportDeclaration": { "minProperties": 12, "multiline": true, "consistent": true }
    }]
  },
  "plugins": [
    "react",
    "flowtype"
  ]
}
