{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [0],
    "max-len": [1, 120]
  },
  "plugins": [
    "react",
    "flowtype"
  ]
}
