/yarn-error.log
/node_modules
/npm-debug.log
/.DS_Store
/src/data/car-class.json
/src/data/cars.json
/src/data/season.json
/src/data/tracks.json
/src/data/contributors.json
.idea
*.css.flow
*.scss.flow
.nyc_output
coverage
.DS_Store

dist/*
# !.gitignore
!dist/static/
!dist/favicon.ico
