.bmc-button img {
  height: 16px;
  width: 16px;
  margin-bottom: 1px;
  box-shadow: none;
  border: none;
  vertical-align: middle;
}

.bmc-button {
  padding: 7px 10px 7px 7px;
  line-height: 16px;
  height: 32px;
  text-decoration: none;
  display: inline-flex;
  color: #ffffff;
  background-color: #5F7FFF;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 12px;
  letter-spacing: -0.08px;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5);
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  text-decoration: none;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
  opacity: 0.85;
  color: #ffffff;
}
