$color-r: #af0800;
$color-d: #fc8a27;
$color-c: #feec04;
$color-b: #00c602;
$color-a: #0153db;
$color-p: #000;
$white: #fff;
$black: #000;

.licenceLevelComponent {
  display: inline-block;
  font-size: .85em;
  font-weight: 600;
  padding: 2px 4px;

  &.licenceR {
    background: $color-r;
    color: $white;
  }

  &.licenceD {
    background: $color-d;
    color: $black;
  }

  &.licenceC {
    background: $color-c;
    color: $black;
  }

  &.licenceB {
    background: $color-b;
    color: $white;
  }

  &.licenceA {
    background: $color-a;
    color: $white;
  }

  &.licenceP {
    background: $color-p;
    color: $white;
  }
}
