.clickableCell {
  padding: 0 !important;
  position: relative;

  .cellButton {
    padding: 8px;
    text-align: left;
    appearance: none;
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;
    border: 0;
    width: 100%;
    background: transparent;
    transition: background .3s;

    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }
}
